@font-face {
  font-family: 'World Of Scifi';
  src: url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.eot');
  src: url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'World Of Scifi';
  src: url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.eot');
  src: url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/sci-fi/title-fonts/WorldOfScifi/WorldOfScifi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edge Of The Galaxy Italic';
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyItalic/EdgeOfTheGalaxyItalic.eot');
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyItalic/EdgeOfTheGalaxyItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyItalic/EdgeOfTheGalaxyItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edge Of The Galaxy Poster';
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPoster/EdgeOfTheGalaxyPoster.eot');
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPoster/EdgeOfTheGalaxyPoster.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPoster/EdgeOfTheGalaxyPoster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edge Of The Galaxy Poster Italic';
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPosterItalic/EdgeOfTheGalaxyPosterItalic.eot');
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPosterItalic/EdgeOfTheGalaxyPosterItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyPosterItalic/EdgeOfTheGalaxyPosterItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edge Of The Galaxy Regular';
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyRegular/EdgeOfTheGalaxyRegular.eot');
  src: url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyRegular/EdgeOfTheGalaxyRegular.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/EdgeOfTheGalaxyRegular/EdgeOfTheGalaxyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert';
  src: url('/webfonts/trekerprise/title-fonts/Probert/Probert.eot');
  src: url('/webfonts/trekerprise/title-fonts/Probert/Probert.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/Probert/Probert.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert Black';
  src: url('/webfonts/trekerprise/title-fonts/ProbertBlack/ProbertBlack.eot');
  src: url('/webfonts/trekerprise/title-fonts/ProbertBlack/ProbertBlack.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/ProbertBlack/ProbertBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert Black Italic';
  src: url('/webfonts/trekerprise/title-fonts/ProbertBlackItalic/ProbertBlackItalic.eot');
  src: url('/webfonts/trekerprise/title-fonts/ProbertBlackItalic/ProbertBlackItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/ProbertBlackItalic/ProbertBlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert Bold';
  src: url('/webfonts/trekerprise/title-fonts/ProbertBold/ProbertBold.eot');
  src: url('/webfonts/trekerprise/title-fonts/ProbertBold/ProbertBold.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/ProbertBold/ProbertBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert Bold Italic';
  src: url('/webfonts/trekerprise/title-fonts/ProbertBoldItalic/ProbertBoldItalic.eot');
  src: url('/webfonts/trekerprise/title-fonts/ProbertBoldItalic/ProbertBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/ProbertBoldItalic/ProbertBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Probert Italic';
  src: url('/webfonts/trekerprise/title-fonts/ProbertItalic/ProbertItalic.eot');
  src: url('/webfonts/trekerprise/title-fonts/ProbertItalic/ProbertItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/title-fonts/ProbertItalic/ProbertItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Airborne';
  src: url('/webfonts/trekerprise/text-fonts/Airborne/Airborne.eot');
  src: url('/webfonts/trekerprise/text-fonts/Airborne/Airborne.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Airborne/Airborne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Airborne Ii';
  src: url('/webfonts/trekerprise/text-fonts/AirborneIi/AirborneIi.eot');
  src: url('/webfonts/trekerprise/text-fonts/AirborneIi/AirborneIi.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/AirborneIi/AirborneIi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Airborne Ii Pilot';
  src: url('/webfonts/trekerprise/text-fonts/AirborneIiPilot/AirborneIiPilot.eot');
  src: url('/webfonts/trekerprise/text-fonts/AirborneIiPilot/AirborneIiPilot.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/AirborneIiPilot/AirborneIiPilot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Airborne Pilot';
  src: url('/webfonts/trekerprise/text-fonts/AirbornePilot/AirbornePilot.eot');
  src: url('/webfonts/trekerprise/text-fonts/AirbornePilot/AirbornePilot.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/AirbornePilot/AirbornePilot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dilithium Pixels Nbp Regular';
  src: url('/webfonts/trekerprise/text-fonts/DilithiumPixelsNbpRegular/DilithiumPixelsNbpRegular.eot');
  src: url('/webfonts/trekerprise/text-fonts/DilithiumPixelsNbpRegular/DilithiumPixelsNbpRegular.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/DilithiumPixelsNbpRegular/DilithiumPixelsNbpRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okuda';
  src: url('/webfonts/trekerprise/text-fonts/Okuda/Okuda.eot');
  src: url('/webfonts/trekerprise/text-fonts/Okuda/Okuda.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Okuda/Okuda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okuda Bold';
  src: url('/webfonts/trekerprise/text-fonts/OkudaBold/OkudaBold.eot');
  src: url('/webfonts/trekerprise/text-fonts/OkudaBold/OkudaBold.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/OkudaBold/OkudaBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okuda Bold Italic';
  src: url('/webfonts/trekerprise/text-fonts/OkudaBoldItalic/OkudaBoldItalic.eot');
  src: url('/webfonts/trekerprise/text-fonts/OkudaBoldItalic/OkudaBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/OkudaBoldItalic/OkudaBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Okuda Italic';
  src: url('/webfonts/trekerprise/text-fonts/OkudaItalic/OkudaItalic.eot');
  src: url('/webfonts/trekerprise/text-fonts/OkudaItalic/OkudaItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/OkudaItalic/OkudaItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Square 721  Condensed  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Square_721_Condensed_BT_TTF/Square_721_Condensed_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Square_721_Condensed_BT_TTF/Square_721_Condensed_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Square_721_Condensed_BT_TTF/Square_721_Condensed_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Star  Trek  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_BT_TTF/Star_Trek_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_BT_TTF/Star_Trek_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Star_Trek_BT_TTF/Star_Trek_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Star  Trek  Film  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_Film_BT_TTF/Star_Trek_Film_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_Film_BT_TTF/Star_Trek_Film_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Star_Trek_Film_BT_TTF/Star_Trek_Film_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Star  Trek  Pi  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_Pi_BT_TTF/Star_Trek_Pi_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Star_Trek_Pi_BT_TTF/Star_Trek_Pi_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Star_Trek_Pi_BT_TTF/Star_Trek_Pi_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Starfleet  Bold  Extended  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Starfleet_Bold_Extended_BT_TTF/Starfleet_Bold_Extended_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Starfleet_Bold_Extended_BT_TTF/Starfleet_Bold_Extended_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Starfleet_Bold_Extended_BT_TTF/Starfleet_Bold_Extended_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Straczynski';
  src: url('/webfonts/trekerprise/text-fonts/Straczynski/Straczynski.eot');
  src: url('/webfonts/trekerprise/text-fonts/Straczynski/Straczynski.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Straczynski/Straczynski.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Straczynski Bold';
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiBold/StraczynskiBold.eot');
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiBold/StraczynskiBold.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/StraczynskiBold/StraczynskiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Straczynski Bold Italic';
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiBoldItalic/StraczynskiBoldItalic.eot');
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiBoldItalic/StraczynskiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/StraczynskiBoldItalic/StraczynskiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Straczynski Italic';
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiItalic/StraczynskiItalic.eot');
  src: url('/webfonts/trekerprise/text-fonts/StraczynskiItalic/StraczynskiItalic.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/StraczynskiItalic/StraczynskiItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Venetian 301  B T. T T F';
  src: url('/webfonts/trekerprise/text-fonts/Venetian_301_BT_TTF/Venetian_301_BT_TTF.eot');
  src: url('/webfonts/trekerprise/text-fonts/Venetian_301_BT_TTF/Venetian_301_BT_TTF.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/text-fonts/Venetian_301_BT_TTF/Venetian_301_BT_TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kahless';
  src: url('/webfonts/trekerprise/alien-fonts/Kahless/Kahless.eot');
  src: url('/webfonts/trekerprise/alien-fonts/Kahless/Kahless.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/alien-fonts/Kahless/Kahless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kahless Pro';
  src: url('/webfonts/trekerprise/alien-fonts/KahlessPro/KahlessPro.eot');
  src: url('/webfonts/trekerprise/alien-fonts/KahlessPro/KahlessPro.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/alien-fonts/KahlessPro/KahlessPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kahless Shadow';
  src: url('/webfonts/trekerprise/alien-fonts/KahlessShadow/KahlessShadow.eot');
  src: url('/webfonts/trekerprise/alien-fonts/KahlessShadow/KahlessShadow.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/alien-fonts/KahlessShadow/KahlessShadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tellarite';
  src: url('/webfonts/trekerprise/alien-fonts/Tellarite/Tellarite.eot');
  src: url('/webfonts/trekerprise/alien-fonts/Tellarite/Tellarite.eot?#iefix') format('embedded-opentype'),
       url('/webfonts/trekerprise/alien-fonts/Tellarite/Tellarite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
