@font-face {
  font-family: 'Star Trek Film BT';
  src: url('Star_Trek_Film_BT.eot');
  src: url('Star_Trek_Film_BT.eot?#iefix') format('embedded-opentype'),
       url('Star_Trek_Film_BT.woff') format('woff'),
       url('Star_Trek_Film_BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
